@charset "UTF-8";

.user-header{
	background-color:#1E90FF;
	text-align: center;
	height:100px;
}

.header-message{
	padding-top:10px;
	
}


.user-footer{
	bottom: 0;
	background-color:#1E90FF;
}

.manager-header{
	text-align: center;
	background-color:lime;
}
.manager-footer{
	bottom: 0;
	background-color:lime;
}

ul {
	list-style: none;
}


#main{
	text-align:center;
	padding-bottom:200px;
}

table {
	margin-right: auto;
	margin-left: auto;
}

.login-induction{
	text-align: center;
	margin:auto;
	padding-right:45px;
}

#quantity option:disabled{
	display:none;
}
