@charset "UTF-8";

.user-header{
	background-color:#1E90FF;
	text-align: center;
	
}

.header-message{
	padding-top:10px;
	text-align: center;
	padding:20px 0;
}
.user-header img {
    position: absolute; 
    top:20px; 
    left: 20px;          
    height: 100px;        
}

.user-footer{
	bottom: 0;
	background-color:#1E90FF;
}

.manager-header{
	text-align: center;
	background-color:lime;
	
}
.manager-footer{
	bottom: 0;
	background-color:lime;
}

.manager-header img {
    position: absolute;  
    top:20px;
    left: 20px;          
    height: 100px;        
}

ul {
	list-style: none;
}


#main{
	text-align:center;
	padding-bottom:200px;
}

table {
	margin-right: auto;
	margin-left: auto;
}

.login-induction{
	text-align: center;
	margin:auto;
	padding-right:45px;
}

#quantity option:disabled{
	display:none;
}

.m-table th{
	background-color:#66FF99;
}

.lightgreen{
	background-color:#66FF99;
}

.title{
	text-align:center;
}
